{% extends 'base/base.html' %}

{% block title %} Reporte Conteo Clientes  {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-2 col-md-2 col-lg-2">
        </div>
        <div class="col-10 col-md-10 col-lg-10">
            <div class="card card-frame">
             <div class="card-header">
                <h4>REPORTE CONTEO CLIENTES</h4>
            </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                        </div>
                        <div class="col-md-5">
                            <div class="card card-pricing bg-success border-0 text-center mb-4">
                                <div class="card-header bg-transparent">
                                    <h3 class="text-uppercase ls-1 text-white py-3 mb-0">Clientes Cargados en la
                                        Base</h3>
                                </div>
                                <div class="card-body">
                                <span class=" text-white">
                                    {% for i in count %}
                                        <div class="display-2 text-white"> {{ i }}</div>
                                    {% endfor %}
                                </span>
                                </div>
                                <div class="card-footer bg-transparent">
                                    <a href="#" class=" text-white">Actualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
