<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="{% url 'usuario:dashboard' %}">
                <span><h2>ARSEN</h2></span>
            </a>
        </div>
        <div class="media-body  ml-2  d-none d-lg-block">
            <span class="mb-0 text-sm  font-weight-bold">
            </span>
        </div>

        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse " id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav navegador ">
                    {% if user.rol.permisoAdmin == '1' %}
                        <li class="nav-item  nav-with-child ">
                            <a class="nav-link desplegable">
                                <i class="fa fa-cogs"></i> Administracion
                            </a>
                            <ul class="nav-item-child subnavegador">
                                <li class="nav-item">
                                    <a class="nav-link" href="/usuario">
                                        <i class="ni ni-tv-2 text-primary"></i>
                                        <span class="nav-link-text">Usuarios</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  " href="/roles">
                                        <i class="ni ni-planet text-orange"></i>
                                        <span class="nav-link-text">Roles</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    {% endif %}
                    {% if user.rol.permisoReportes == '1' %}
                        <li class="nav-item nav-with-child">
                            <a class="nav-link desplegable">
                                <i class="fa fa-users"></i> Base Clientes
                            </a>
                            <ul class="nav-item-child subnavegador">
                                <li class="nav-item">
                                    <a class="nav-link" href="/clientes">
                                        <i class="fa fa-file text-blue"></i>
                                        <span class="nav-link-text">Datos CSV</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/clientes/lista">
                                        <i class="fa fa-file-excel text-green"></i>
                                        <span class="nav-link-text">Descargar Respuestas</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.rol.permisoProcesos == '1' %}
                        <li class="nav-item nav-with-child ">
                            <a class="nav-link desplegable">
                                <i class="fa fa-upload"></i> Base RUCs
                            </a>
                            <ul class="nav-item-child subnavegador">

                                <li class="nav-item nav-with-child">
                                    <a class="nav-link desplegable">
                                        <i class="fa fa-users-cog"></i> Carga de Contribuyentes
                                    </a>
                                    <ul class="nav-item-child subnavegador">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/contribuyentes">
                                                <i class="fa fa-file text-blue"></i>
                                                <span class="nav-link-text">Datos CSV</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/contribuyentes/lista">
                                                <i class="fa fa-file-excel text-green"></i>
                                                <span class="nav-link-text">Descargar Respuestas</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-with-child">
                                    <a class="nav-link desplegable">
                                        <i class="fa fa-marker"></i> Carga de Establecimientos
                                    </a>
                                    <ul class="nav-item-child subnavegador">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/establecimientos">
                                                <i class="fa fa-file text-blue"></i>
                                                <span class="nav-link-text">Datos CSV</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/establecimientos/lista">
                                                <i class="fa fa-file-excel text-green"></i>
                                                <span class="nav-link-text">Descargar Respuestas</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-with-child">
                                    <a class="nav-link desplegable">
                                        <i class="fa fa-layer-group"></i> Carga de Representantes Legales
                                    </a>
                                    <ul class="nav-item-child subnavegador">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/representante_legal">
                                                <i class="fa fa-file text-blue"></i>
                                                <span class="nav-link-text">Datos CSV</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/representante_legal/lista">
                                                <i class="fa fa-file-excel text-green"></i>
                                                <span class="nav-link-text">Descargar Respuestas</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-with-child">
                                    <a class="nav-link desplegable">
                                        <i class="fa fa-map"></i> Carga de ubicaciones Geograficas
                                    </a>
                                    <ul class="nav-item-child subnavegador">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/ubicaciones_geograficas">
                                                <i class="fa fa-file text-blue"></i>
                                                <span class="nav-link-text">Datos CSV</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/ubicaciones_geograficas/lista">
                                                <i class="fa fa-file-excel text-green"></i>
                                                <span class="nav-link-text">Descargar Respuestas</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-with-child">
                                    <a class="nav-link desplegable">
                                        <i class="fa fa-dollar-sign"></i> Carga de Actividades Economicas
                                    </a>
                                    <ul class="nav-item-child subnavegador">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/actividades_economicas">
                                                <i class="fa fa-file text-blue"></i>
                                                <span class="nav-link-text">Datos CSV</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/actividades_economicas/lista">
                                                <i class="fa fa-file-excel text-green"></i>
                                                <span class="nav-link-text">Descargar Respuestas</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-with-child">
                                    <a class="nav-link desplegable">
                                        <i class="fa fa-camera"></i> Carga de medios de Contacto
                                    </a>
                                    <ul class="nav-item-child subnavegador">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/medios_contacto">
                                                <i class="fa fa-file text-blue"></i>
                                                <span class="nav-link-text">Datos CSV</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/medios_contacto/lista">
                                                <i class="fa fa-file-excel text-green"></i>
                                                <span class="nav-link-text">Descargar Respuestas</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-with-child">
                                    <a class="nav-link desplegable">
                                        <i class="fa fa-users"></i> Carga de tipos de Contribuyente
                                    </a>
                                    <ul class="nav-item-child subnavegador">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/tipos_contribuyentes">
                                                <i class="fa fa-file text-blue"></i>
                                                <span class="nav-link-text">Datos CSV</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/tipos_contribuyentes/lista">
                                                <i class="fa fa-file-excel text-green"></i>
                                                <span class="nav-link-text">Descargar Respuestas</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-with-child">
                                    <a class="nav-link desplegable">
                                        <i class="fa fa-file"></i> Carga de Actividad Ecónomica Establecimiento
                                    </a>
                                    <ul class="nav-item-child subnavegador">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/actividad_economica_est">
                                                <i class="fa fa-file text-blue"></i>
                                                <span class="nav-link-text">Datos CSV</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/actividad_economica_est/lista">
                                                <i class="fa fa-file-excel text-green"></i>
                                                <span class="nav-link-text">Descargar Respuestas</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.rol.permisoReportes == '1' %}
                        <li class="nav-item nav-with-child">
                            <a class="nav-link desplegable">
                                <i class="fa fa-user"></i> Base Empleados
                            </a>
                            <ul class="nav-item-child subnavegador">
                                <li class="nav-item">
                                    <a class="nav-link" href="/aportantes">
                                        <i class="fa fa-file text-blue"></i>
                                        <span class="nav-link-text">Datos CSV</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/aportantes/lista">
                                        <i class="fa fa-file-excel text-green"></i>
                                        <span class="nav-link-text">Descargar Respuestas</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.rol.permisoReportes == '1' %}
                        <li class="nav-item nav-with-child">
                            <a class="nav-link desplegable">
                                <i class="fa fa-download"></i> Descarga de Informacion
                            </a>
                            <ul class="nav-item-child subnavegador">
                                <li class="nav-item">
                                    <a class="nav-link" href="/reportes/conteo_cliente">
                                        <i class="ni ni-single-copy-04 text-primary"></i>
                                        <span class="nav-link-text">Reporte Conteo Clientes</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/reportes/conteo_contribuyentes">
                                        <i class="ni ni-single-copy-04 text-primary"></i>
                                        <span class="nav-link-text">Conteo Contribuyentes Naturales</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/reportes/conteo_contribuyentes_juridicos">
                                        <i class="ni ni-single-copy-04 text-primary"></i>
                                        <span class="nav-link-text">Conteo Contribuyentes Juridicos</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/reportes/conteo_empleados">
                                        <i class="ni ni-single-copy-04 text-primary"></i>
                                        <span class="nav-link-text">Conteo Empleados</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/reportes/index">
                                        <i class="ni ni-single-copy-04 text-primary"></i>
                                        <span class="nav-link-text">Reporte Cumpleaños Children</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/reportes/index_ci">
                                        <i class="ni ni-single-copy-04 text-primary"></i>
                                        <span class="nav-link-text">Reporte Cumpleaños Children Especifico</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/reportes/reporte_negocio_view">
                                        <i class="ni ni-single-copy-04 text-primary"></i>
                                        <span class="nav-link-text">Reporte de Negocios</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/reportes/reporte_negocio_ruc_view">
                                        <i class="ni ni-single-copy-04 text-primary"></i>
                                        <span class="nav-link-text">Reporte de Negocios Especifico</span>
                                    </a>
                                </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="/reportes/reporte_empleados">
                                        <i class="ni ni-single-copy-04 text-primary"></i>
                                        <span class="nav-link-text">Reporte de Empleados</span>
                                    </a>
                                </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="/reportes/reporte_empleados_ci">
                                        <i class="ni ni-single-copy-04 text-primary"></i>
                                        <span class="nav-link-text">Reporte de Empleados Especifico</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/reportes/reporte_archivos_temporales">
                                        <i class="ni ni-single-copy-04 text-primary"></i>
                                        <span class="nav-link-text">Eliminar Archivos Temporales</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
</nav>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () { // Script del Navegador

        $('#abrir').click(function () {
                $(".cmenu").animate({"left": "+124px"}, "slow");
            },
            function () {
                $(".cmenu").animate({"left": "0px"}, "slow"),
                    $('#abrir').css('display', 'none');

            },
            $('#cerrar').click(function () {
                    $(".cmenu").animate({"left": "-127px"}, "slow");

                    $("ul.subnavegador").hide();
                }
            )
        );

        /*$("a.desplegable").toggle(
            function () {
                $(this).parent().find("ul.subnavegador").slideDown('fast');
            },
            function () {
                $(this).parent().find("ul.subnavegador").slideUp('fast');
            }
        );*/
        $('.desplegable').click(function () {
            if ($(this).next('.subnavegador').is(":hidden")) {
                $(this).next('.subnavegador').slideDown('fast');
            } else {
                $(this).next('.subnavegador').slideUp('fast');
            }
        });
    });
</script>
<style type="text/css">
    .cmenu {
        height: 300px;
        width: 500px;
        position: absolute;
        top: 10px;
        bottom: 40px;
        left: -124px;
    }

    .menuoculto {
        height: 82px;
        width: 28px;
        background-repeat: no-repeat;
        cursor: pointer;
        position: absolute;
        left: 150px;
        top: 5px;
        display: block;
    }

    .menuvisible {
        margin: auto;
        background-repeat: no-repeat;
        cursor: pointer;
        position: absolute;
        left: -30px;
        top: 5px;
        display: block;

    }

    .menu {
        height: 300px;
        width: 127px;
        top: 1px;
        bottom: 80px;
        background-repeat: no-repeat;

    }

    .subnavegador {
        width: 250px;
        display: none;
        color: #0d2474;
        list-style: none;
    }

</style>